<footer class="site-footer">
  <script type="module" src="/js/keycloak.js"></script>
  <div class="inner">
    {{ if ne .Site.Params.footer.showContactIcons false }}
    {{ with .Site.Params.contact }}
    <section class="icons">
      <ol>
        <li><a href="mailto:{{ .email }}" aria-label='{{ i18n "email" }}'><i class="fa fa-envelope"></i></a></li>
        <li><a href="tel:{{ .phone }}" aria-label='{{ i18n "phone" }}'><i class="fa fa-phone"></i></a></li>
      </ol>
    </section>
    {{ end }}
    {{ end }}

    {{ with .Site.Params.copyright }}
    <section class="copyright">{{ . | safeHTML }}, <a style="text-decoration:none" href="impressum.html">Impressum</a>,
      <a style="text-decoration:none"
        href="https://lausitzer-surfer.de/pdf/04_Datenschutzerkl%C3%A4rung_Mitglieder.pdf">Datenschutz</a>
    </section>

    {{ end }}

    {{ if ne .Site.Params.hidedesignbyline true }}
    <section>
      <a href="https://themes.gohugo.io/hugo-scroll/" target="_blank" rel="noopener">Hugo Scroll</a> template
    </section>
    {{ end }}

    {{ if ne .Params.enableGitInfo false }}
    {{- if $.GitInfo -}}
    <section>
      {{ with (getenv "LAST_COMMIT_DATE") }}
      version: {{ time . | dateFormat "2 Jan 2006" }}
      {{ end }}
      |
      {{ with (getenv "LAST_COMMIT_HASH") }}
      #<a href="https://framagit.org/lausitzer-surfer-eV/website/-/commit/{{ . }}">{{ . }}</a>
      {{ end }}
    </section>
    {{- end -}}
    {{ end }}
  </div>
</footer>